---
- name: Instalar paquetes necesarios
  ansible.builtin.apt:
    name:
      - apache2
      - php
      - php-mysql
      - mariadb-server
      - wget
      - unzip
      - python3-pymysql
      - python3-pip
      - python3-requests
      - python3-urllib3
    state: present
    update_cache: yes
  become: yes

- name: Iniciar y habilitar servicios
  ansible.builtin.service:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:
    - apache2
    - mariadb
  become: yes

- name: Asegurar que root puede autenticarse con contrase침a en MariaDB
  ansible.builtin.shell: |
    mysql -u root <<EOF
    ALTER USER 'root'@'localhost' IDENTIFIED BY '{{ mysql_root_password }}';
    FLUSH PRIVILEGES;
    EOF
  args:
    executable: /bin/bash
  become: yes


- name: Asegurar que la base de datos de WordPress existe
  community.mysql.mysql_db:
    name: "{{ wp_db_name }}"
    state: present
    login_user: root
    login_password: "{{ mysql_root_password }}"
  become: yes

- name: Crear usuario de WordPress en MySQL
  community.mysql.mysql_user:
    name: "{{ wp_db_user }}"
    password: "{{ wp_db_password }}"
    priv: "{{ wp_db_name }}.*:ALL"
    host: "localhost"
    state: present
    login_user: root
    login_password: "{{ mysql_root_password }}"
  become: yes

- name: Descargar WordPress manualmente usando wget
  ansible.builtin.shell: wget -O /tmp/wordpress.tar.gz https://wordpress.org/latest.tar.gz
  args:
    creates: /tmp/wordpress.tar.gz
  become: yes

- name: Descomprimir WordPress
  ansible.builtin.unarchive:
    src: /tmp/wordpress.tar.gz
    dest: /var/www/html/
    remote_src: yes
  become: yes

- name: Copiar archivo de configuraci칩n wp-config.php
  ansible.builtin.template:
    src: wp-config.php.j2
    dest: /var/www/html/wordpress/wp-config.php
  become: yes

- name: Descargar wp-cli.phar
  command: wget https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar -O /usr/local/bin/wp

- name: Dar permisos de ejecuci칩n a wp-cli
  file:
    path: /usr/local/bin/wp
    mode: '0755'
    owner: root
    group: root

- name: Instalar WordPress autom치ticamente con wp-cli como root
  tags: wp-cli
  command: >
    wp core install
    --url="http://{{ ansible_host }}/wordpress"
    --title="AnsibleRocks"
    --admin_user="{{ wp_admin_user }}"
    --admin_password="{{ wp_admin_password }}"
    --admin_email="{{ wp_admin_email }}"
    --path=/var/www/html/wordpress
    --allow-root
  become: yes
  args:
    chdir: /var/www/html/wordpress

- name: Ajustar permisos en /var/www/html
  ansible.builtin.file:
    path: /var/www/html
    state: directory
    recurse: yes
    owner: www-data
    group: www-data
  become: yes
# tasks file for wordpress
